/* General body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7; /* Light background */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100;
}

/* Main container styling */
.container {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);

}

/* Invitation Header Styles */
.invitation-header h1 {
  font-size: 2.5em;
  color: #f07167; /* Vibrant pinkish-red */
  margin-bottom: 10px;
}

.invitation-header h2 {
  font-size: 1.2em;
  color: #00afb9; /* Vibrant teal */
}

.invitation-header .description {
  font-size: 1.1em;
  color: #555;
  margin-top: 10px;
}

/* RSVP Section Styling */
.rsvp-section {
  margin-top: 20px;
}

.rsvp-section h3 {
  font-size: 1.5em;
  color: #471869;
  margin-bottom: 15px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased space between form elements */
  align-items: center;

}

label {
  font-size: 1.1em;
  color: #471869;
}

input, select, button {
  font-size: 1em;
  padding: 12px;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input, select {
  margin-top: 5px;
}

/* Styling for input and select fields */
input, select {
  background-color: #f0f8ff; /* Light blue background for input and select fields */
}

button {
  background-color: #00afb9; /* Teal background for the button */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #028c8c; /* Darker teal on hover */
}

/* Confirmation message styles */
.confirmation-message {
  display: none;
  margin-top: 20px;
  font-size: 1.2em;
  color: #28a745; /* Green for success message */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    width: 90%;
  }

  .invitation-header h1 {
    font-size: 2em;
  }

  .rsvp-section h3 {
    font-size: 1.3em;
  }
}


.confirmation-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none; /* Initially hidden */
    font-size: 30px;
    text-align: center;
    color: #333;
}